@model string
@{
    ViewData["Title"] = "Create new role";
}

<div class="row justify-content-center shadow">

    <div class="card">

        <div class="card-header bg-transparent">
            <h3 class="text-white-50">Create new role</h3>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-action="Create" method="post">

            <div class="form-group mb-3">
                <label for="name">Role name</label>
                <input name="name" class="form-control" />
            </div>

            <button type="submit" class="btn btn-sm btn-outline-info mb-3 col-md-2 fw-semibold">Create</button>

            <a asp-action="Index" class="btn btn-sm btn-outline-danger mb-3 col-md-2 fw-semibold">Back</a>
        </form>
    </div>
</div>