@model AutoOglasi.Web.ViewModels.PagingViewModel

@{
    var pageNumberAsString = Model.PageNumber.ToString();
    var urlPathWithoutAPageNumber = this.Context.Request.Path.ToString().Replace(pageNumberAsString, "");

    if (!urlPathWithoutAPageNumber.EndsWith(System.IO.Path.AltDirectorySeparatorChar))
    {
        urlPathWithoutAPageNumber = $"{urlPathWithoutAPageNumber}{System.IO.Path.AltDirectorySeparatorChar}";
    }
}

<nav aria-label="Pager" class="my-4">
    <ul class="pagination justify-content-center font-monospace small luxury-pagination">
        
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
            <a class="page-link rounded-0 px-3 py-2" 
               href=@($"{urlPathWithoutAPageNumber}{Model.FirstPage}{this.Context.Request.QueryString}")>First</a>
        </li>
        
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
            <a class="page-link px-3 py-2" 
               href=@($"{urlPathWithoutAPageNumber}{Model.PreviousPageNumber}{this.Context.Request.QueryString}")>
                <i class="fas fa-chevron-left small opacity-50"></i>
            </a>
        </li>

        @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item">
                    <a class="page-link px-3 py-2" 
                       href=@($"{urlPathWithoutAPageNumber}{i}{this.Context.Request.QueryString}")>@i</a>
                </li>
            }
        }

        <li class="page-item active" aria-current="page">
            <span class="page-link px-3 py-2 rounded-0 fw-bold">
                @Model.PageNumber
            </span>
        </li>

        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item">
                    <a class="page-link px-3 py-2" 
                       href=@($"{urlPathWithoutAPageNumber}{i}{this.Context.Request.QueryString}")>@i</a>
                </li>
            }
        }

        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
            <a class="page-link px-3 py-2" 
               href=@($"{urlPathWithoutAPageNumber}{Model.NextPageNumber}{this.Context.Request.QueryString}")>
                <i class="fas fa-chevron-right small opacity-50"></i>
            </a>
        </li>

        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
            <a class="page-link rounded-0 px-3 py-2" 
               href=@($"{urlPathWithoutAPageNumber}{Model.LastPage}{this.Context.Request.QueryString}")>Last</a>
        </li>

    </ul>
</nav>
