@{
    ViewData["Title"] = "O projektu";
}

<div class="luxury-about-wrapper">
    <div class="text-center mb-5">
        <span class="text-uppercase small font-monospace luxury-gold-sub-text luxury-about-sub-spacing">AutoOglasi Platform</span>
        <h2 class="fw-light text-uppercase mt-1 text-theme-heading luxury-about-title-spacing">@ViewData["Title"]</h2>
        <div class="mx-auto mt-2 luxury-deco-line"></div>
    </div>
 </div>
