
@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column font-monospace small text-uppercase" style="letter-spacing: 1px;">
    <li class="nav-item mb-1">
        <a class="nav-link rounded-0 text-start py-2.5 @Microsoft.AspNetCore.Identity.UI.Pages.Account.Manage.Internal.ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index" 
           style="color: #fff; transition: all 0.3s;">
            <i class="fas fa-user-edit me-2 opacity-50"></i> Profile
        </a>
    </li>
    <li class="nav-item mb-1">
        <a class="nav-link rounded-0 text-start py-2.5 @Microsoft.AspNetCore.Identity.UI.Pages.Account.Manage.Internal.ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword"
           style="color: #fff; transition: all 0.3s;">
            <i class="fas fa-key me-2 opacity-50"></i> Password
        </a>
    </li>
</ul>

<style>
    .nav-pills .nav-link.active {
        background-color: rgba(212, 175, 55, 0.1) !important;
        color: #d4af37 !important;
        border-left: 2px solid #d4af37;
    }
    .nav-pills .nav-link:hover:not(.active) {
        background-color: rgba(255, 255, 255, 0.03) !important;
    }
</style>
